.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.table-pets {
  display: inline-block;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
